@import "tailwindcss";

:root {
  --primary: #135bec;
}

/* ===============================
   Custom Theme (Tailwind v4 way)
================================ */

@theme {
  --color-primary: #1111d4;
  --color-background-light: #f6f6f8;
  --font-display: "Inter", sans-serif;
}

/* Global */
body {
  font-family: var(--font-display);
  background-color: var(--color-background-light);
  color: #0d0d1b;
}

/* Input reuse class */
.input-style {
  @apply w-full bg-[#f8f8fc] border border-[#cfcfe7]
  text-sm rounded-lg p-3.5
  focus:ring-2 focus:ring-primary
  focus:border-primary outline-none;
}
::-webkit-scrollbar {
  display: none;
}

